/* Place your CSS styles in this file */
body {background-color: whitesmoke;
      border: 5px solid cornflowerblue;
      border-radius: 10px;
}

ul {list-style-type: none;
    background-color: burlywood;
    text-align: center;
}

li {display: inline;
    color: maroon;
    font-size: large;
}

h1 {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: maroon;
}

marquee {
         color: maroon;
}

p { 
    text-align: justify;
    font-family: 'Times New Roman', Arial, sans-serif;
    font-size: large;
    color: maroon;
}

p.par2 {
         text-align: center;
}

img {
     display: block;
     margin: auto;
}
